<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Home | I_AMVOCAL</title>
	<!-- all assets files --><link href="img/favicon.ico" rel="icon">
	<link rel="stylesheet" type="text/css" href="assets/materialize/materialize/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="assets/custom/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"> 
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/slick/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="assets/slick/slick/slick-theme.css">
	<link rel="manifest" href="assets/manifest.json">
</head>
<body style="background: #F5F5F5">
	<% include includes/navbar %>


	<section id="carousel_header">
	
		
		<div id="particles-js">	</div>
		<div class="container car_text home-container hide-on-small-only" style="position: absolute; z-index: 2; top: 24%; ">
			<span id="header_main-text">We are in an ever-connected
			reality and do possess powers we never knew that we had.</span><br>
			<span id="header_sub-text" style="font-weight: 400">
				We are making it possible for citizens to be active participants in their governance.	</span>


			<br><br>
			<div class="row">
				<a href="/signup" class="btn btn-normal btn-large" style="background: white !important; color: #1B36FF !important">Get started</a>
				<a href="/signin" class="btn btn-normal btn-large " style="background: black !important">Sign in</a>

			</div>
				
		</div>

		<div class="container car_text hide-on-med-and-up" style="margin-top: -130px" >
			<span style="font-size: 25px !important; font-weight: 500 !important; color: white;">We are in an ever-connected
			reality and do possess powers we never knew that we had.</span>
			<br>
			<span id="header_sub-text" style="font-weight: 400">
				We are making it possible for citizens to be active participants in their governance.	</span>
			<br><br>
			<a href="/signup" class="btn btn-small btn-normal" style="background: white !important; color: #1B36FF !important">Get started</a>
			<a href="/signin" class="btn btn-small btn-normal" style="background: black !important; color: white !important">Sign in</a>
		</div>
		

	</section>
	<section style="margin-bottom: 50px">
		<div class=" ">
			<center><span id="header_sub-text" class="section-header"><br>What do we aim to create? </span></center>
		</div>

		<div class="container" style="margin-top: 50px;">
			<div class="row">
				<div class="col s12 l4">
				    <div class="card wed horizontal nt">
				      <div class="card-stacked">
				        <div class="card-content">
				          <center>
				          	<i class="medium material-icons">fingerprint</i>
				          	<br>
				          	<span class="section2-li">Election Transparency</span>
				          	<br><br>
				          	<span class="section-li2" style="text-align: justify;">
				          		An ideal system where citizens see the possibility and power of a transparent electoral system through individual and public verifiability of poll results based on the concept of the blockchain...
				          	</span>
				          	<br><br>
				          </center>
				        </div>
				      </div>
				    </div>
				  
				</div>

				<div class="col s12 l4">
					<div class="card horizontal nt">
				      <div class="card-stacked">
				        <div class="card-content">
				          <center>
				          	<i class="medium material-icons">money_off</i>
				          	<br>
				          	<span class="section2-li">Public Accountability</span>
				          	<br><br>
				          	<span class="section-li2" style="text-align: justify;">
				          		A community where citizens engage in important discourse on issues that affect them as it pertains to their governance thereby enabling them to demand for accountability from their leaders in all spheres of their everyday life...
				          	</span>
				          	<br><br>
				          </center>
				        </div>
				      </div>
				    </div>
				</div>

				<div class="col s12 l4">
					<div class="card horizontal nt">
				      <div class="card-stacked">
				        <div class="card-content">
				          <center>
				          	<i class="medium material-icons">group</i>
				          	<br>
				          	<span class="section2-li">Open Public Discourse</span>
				          	<br><br>
				          	<span class="section-li2" style="text-align: justify;">
				          		The silence in our society these days is deafening irrespective of the fact that we are so connected to one another than ever before. We aim to enable citizens to engage in issues that affect them and as well translate it to real life mobilization for these causes...
				          	</span>
				          	<br><br>
				          </center>
				        </div>
				      </div>
				    </div>
				</div>
			</div>
		</div>	
	</section>

	<section class="sec3">
		<!-- random data -->
		<center>
			<span class="sec3-header">We have the power to create change...</span>
			<br>
			<span class="sec3-little">It all begins with a step; taken? Get started by opening an account</span>
			<br><br>
			<a href="/signup" class="btn btn-normal">Join us</a>
		</center>
	</section>

	<section class="sec4 blog">
		<div class=" ">
			<center><span id="header_sub-text" class="section-header"><br>From our blog </span></center>
		</div>
		<!-- blog -->
		<% if(posts.length){ %>
			<div class="container" style="margin-top: 50px;">
				<div class="responsive row">
					<% for(var i = posts.length-1; i>-1; i--){ %>
						<div class="col s12 m6">
						    <div class="card">
						      <div class="card-image">
						        <% if(posts[i]['featuredImage']){ %>
						          <img src="<%- posts[i]['featuredImage'] %>">
						        <% } %>
						        
						       
						        <a href="/blog?blogId=<%-posts[i]['blogId'] %>" class="btn-floating halfway-fab waves-effect waves-light btn"><i class="material-icons">navigate_next</i></a>
						      </div>
						      <div class="card-content">
						      	 <span class="card-title" style="color:black;"><%- posts[i]['title'] %></span>
						        <p><i >Posted on</i> <%- posts[i]['dateAdded'] %></p>
						      </div>
						    </div>
						</div>
					<% } %>
					
				</div>
			</div>		
		<% } %>
		<% if(posts.length == 0) { %>
			<center><span id="header_sub-text" class="section-header"><br>There are no blog posts. </span></center>
		<% } %>
	</section>


	<!-- Reports -->
	<section class="sec4 reports" style="background: #F1F1F1 !important; height: 100% !important">
		<div class=" ">
			<center><span id="header_sub-text" class="section-header"><br>From the field </span></center>
		</div>
		<!-- report -->
		<% if(reports.length){ %>
			<div class="container" style="margin-top: 50px;">
				<div class="responsive row">
					<% for(var i = reports.length-1; i>-1; i--){ %>
						<div class="col s12 m6">
						    <div class="card">
						      <div class="card-image">
						        <% if(reports[i]['featuredImage']){ %>
						          <img src="<%- reports[i]['featuredImage'] %>">
						        <% } %>
						        
						        
						        <a href="/blog?blogId=<%-reports[i]['reportId'] %>" class="btn-floating halfway-fab waves-effect waves-light btn"><i class="material-icons">navigate_next</i></a>
						      </div>
						      <div class="card-content">
						      	<span class="card-title" style="color:black;"><%- reports[i]['title'] %></span>
						        <p><i >Posted on</i> <%- reports[i]['dateAdded'] %></p>
						      </div>
						    </div>
						</div>
					<% } %>
				</div>
			</div>		
		<% } %>
		<% if(reports.length == 0) { %>
			<center><span id="header_sub-text" class="section-header"><br>There are no reports. </span></center>
		<% } %>		
	</section>

	<!-- footer section -->
	<% include includes/footer %>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="assets/slick/slick/slick.js"></script>
<script type="text/javascript" src="assets/materialize/materialize/js/materialize.js"></script>
<script type="text/javascript" src="assets/particlesjs/particles.js"></script>
<script type="text/javascript">
	particlesJS.load('particles-js', 'assets/custom/particles.json', function() {
	  console.log('callback - particles.js config loaded');
	});
</script>
<script type="text/javascript" src="assets/custom/style.js"></script>
<script type="text/javascript">
	  if ('serviceWorker' in navigator) {
   			 navigator.serviceWorker
             .register('sw.js')
             .then(function() { console.log('Service Worker Registered'); });
  		}
</script>
<script type="text/javascript" src="assets/offline.js"></script>
</body>

</html>